#ignore le dossier de build
build
#ne pas ignorer le dossier de test
.DS_Store
#ignore les modules node
node_modules
/dist
# local env files
*.env
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
dist-dev
dist-prod
dist-test
#ignore eslint
.eslintrc.json
#ne pas ignorer le fichier .gitignore
node_modules/.bin/acorn
node_modules/.bin/eslint
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/js-yaml
node_modules/.bin/mkdirp
node_modules/.bin/rimraf
node_modules/.bin/semver
node_modules/.bin/which
node_modules/@babel/
node_modules/@types/eslint-visitor-keys/
node_modules/@types/json-schema/
node_modules/@typescript-eslint/
node_modules/acorn-jsx/
node_modules/acorn/
node_modules/ajv/
node_modules/ansi-escapes/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/argparse/
node_modules/astral-regex/
node_modules/callsites/
node_modules/chalk/
node_modules/chardet/
node_modules/cli-cursor/
node_modules/cli-width/
node_modules/color-convert/
node_modules/color-name/
node_modules/cross-spawn/
node_modules/deep-is/
node_modules/doctrine/
node_modules/emoji-regex/
node_modules/escape-string-regexp/
node_modules/eslint-config-google/
node_modules/eslint-scope/
node_modules/eslint-utils/
node_modules/eslint-visitor-keys/
node_modules/eslint/
node_modules/espree/
node_modules/esprima/
node_modules/esquery/
node_modules/esrecurse/
node_modules/estraverse/
node_modules/esutils/
node_modules/external-editor/
node_modules/fast-deep-equal/
node_modules/fast-json-stable-stringify/
node_modules/fast-levenshtein/
node_modules/figures/
node_modules/file-entry-cache/
node_modules/flat-cache/
node_modules/flatted/
node_modules/functional-red-black-tree/
node_modules/glob-parent/
node_modules/globals/
node_modules/has-flag/
node_modules/ignore/
node_modules/import-fresh/
node_modules/imurmurhash/
node_modules/inquirer/
node_modules/is-extglob/
node_modules/is-fullwidth-code-point/
node_modules/is-glob/
node_modules/is-promise/
node_modules/isexe/
node_modules/js-tokens/
node_modules/js-yaml/
node_modules/json-schema-traverse/
node_modules/json-stable-stringify-without-jsonify/
node_modules/levn/
node_modules/lodash.unescape/
node_modules/lodash/
node_modules/mimic-fn/
node_modules/mkdirp/
node_modules/mute-stream/
node_modules/natural-compare/
node_modules/nice-try/
node_modules/onetime/
node_modules/optionator/
node_modules/os-tmpdir/
node_modules/parent-module/
node_modules/path-key/
node_modules/prelude-ls/
node_modules/progress/
node_modules/punycode/
node_modules/regexpp/
node_modules/resolve-from/
node_modules/restore-cursor/
node_modules/rimraf/
node_modules/run-async/
node_modules/rxjs/
node_modules/semver/
node_modules/shebang-command/
node_modules/shebang-regex/
node_modules/signal-exit/
node_modules/slice-ansi/
node_modules/sprintf-js/
node_modules/string-width/
node_modules/strip-ansi/
node_modules/strip-json-comments/
node_modules/supports-color/
node_modules/table/
node_modules/text-table/
node_modules/through/
node_modules/tmp/
node_modules/tslib/
node_modules/tsutils/
node_modules/type-check/
node_modules/type-fest/
node_modules/uri-js/
node_modules/v8-compile-cache/
node_modules/which/
node_modules/word-wrap/
node_modules/write/
